* {
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin:0 auto;
  text-align: center;
  vertical-align: middle;
}

body {
  background: url("http://i.imgur.com/aZD17g0.jpg") no-repeat;
  background-size: cover;
}

#title {
  font-weight: bold;
}

.center-block {
  padding-top: 10%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#tasks {
  min-width: 100%;
}

li button {
  font-weight: bold;
  background: none;
  border: 0;
  padding: 0;
  float: right;
  margin-left: 10px;
}
